# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
/target/
# IntelliJ project files
.idea
*.iml
*.gz
out
gen
target/classes/META-INF/
target/classes/com/vli/controller/CommentController.class
target/classes/com/vli/controller/HArticleController.class
target/classes/com/vli/controller/HClickingBarController.class
target/classes/com/vli/controller/test.class
target/classes/com/vli/converter/HArticleConverter.class
target/classes/com/vli/from/
target/classes/com/vli/mapper/CommentMapper.class
target/classes/com/vli/mapper/TypeMapper.class
target/classes/com/vli/parameter/ClickingBarParameter.class
target/classes/com/vli/parameter/HArticleParameter.class
target/classes/com/vli/po/Comment.class
target/classes/com/vli/po/Type.class
target/classes/com/vli/service/CommentService.class
target/classes/com/vli/service/HArticleService.class
target/classes/com/vli/service/HClickingBarService.class
target/classes/com/vli/utlis/HttpClientUtil.class
target/classes/com/vli/utlis/LogEnum.class
target/classes/com/vli/utlis/LogUtils.class
target/classes/com/vli/vo/HArticleVo.class
target/classes/log4j2.yml
target/classes/static/css/bootstrap.min.css
target/classes/static/css/page.css
target/classes/static/css/style.css
target/classes/static/img/
target/classes/static/js/pagination.js
target/classes/templates/article/
target/classes/templates/clickingBar/
target/generated-sources/
target/generated-test-sources/
target/test-classes/
target/classes/com/vli/controller/client/
target/classes/com/vli/controller/manage/
target/classes/com/vli/mapper/MenuMapper.class
target/classes/com/vli/po/Menu.class
target/classes/com/vli/service/MenuService.class
target/classes/com/vli/service/impl/
target/classes/templates/menu/
target/vli_web-1.0-SNAPSHOT.jar.original
