<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<!-- 引入样式 -->
<link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
<!-- 先引入 Vue -->
<script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<!-- 引入组件库 -->
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
<body>
<div id="app" v-cloak>
    待开发
</div>
</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{

        },
        methods:{

        },
        created:function () {

        }
    })
</script>