<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vli</title>
</head>
<!-- 引入样式 -->
<link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
<link rel="stylesheet" href="../static/css/page.css" th:href="@{/css/page.css}">
<!-- 先引入 Vue -->
<script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
<!-- 引入组件库 -->
<script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
<body>
<div id="app" v-cloak>
    <div>
        <div style="text-align: right;">
            <el-button type="primary" plain @click="onOpenAddPopup">添加用户</el-button>
        </div>
    </div>
    <!--表格-->
    <el-table
            :data="tableData.data"
            style="width: 100%">
        <el-table-column
                label="ID"
                width="100">
            <template slot-scope="scope">
                <span>{{ scope.row.id }}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="头像"
                width="150">
            <template slot-scope="scope">
                <img :src="scope.row.healPortrait" width="100px" height="100px" alt="">
            </template>
        </el-table-column>
        <el-table-column
                label="注册日期"
                width="200">
            <template slot-scope="scope">
                <span>{{ scope.row.createTime }}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="用户名"
                width="180">
            <template slot-scope="scope">
                <span>{{ scope.row.userName}}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="手机号"
                width="200">
            <template slot-scope="scope">
                <span>{{ scope.row.phone}}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="性别"
                width="120">
            <template slot-scope="scope">
                <span>{{ scope.row.sex}}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="年龄"
                width="120">
            <template slot-scope="scope">
                <span>{{ scope.row.age }}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="角色"
                width="120">
            <template slot-scope="scope">
                <span>{{ scope.row.roleName }}</span>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="onOpenUpdatePopup(scope.$index, scope.row)">编辑
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="block">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :page-sizes="[10, 30, 50, 100]"
                :page-size="10"
                layout="total, sizes, prev, pager, next, jumper"
                :total="tableData.total">
        </el-pagination>
    </div>
    <!--添加&修改 对话框-->
    <el-dialog :title="popupTitle" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="用户名" label-width="120px">
                <el-input v-model="form.userName" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" label-width="120px">
                <el-input v-model="form.password" auto-complete="off" type="password"
                          :disabled="disabledStatus"></el-input>
            </el-form-item>
            <el-form-item label="手机号" label-width="120px">
                <el-input v-model="form.phone" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="性别" label-width="120px">
                <el-radio v-model="form.sex" label="男">男</el-radio>
                <el-radio v-model="form.sex" label="女">女</el-radio>
            </el-form-item>
            <el-form-item label-width="120px" label="年龄">
                <el-input type="age" v-model.number="form.age" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="角色" label-width="120px">
                <el-select v-model="form.roleId" clearable placeholder="请选择">
                    <el-option
                            v-for="v in roles"
                            :key="v.id"
                            :label="v.roleName"
                            :value="v.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="头像" label-width="120px">
                <img v-show="form.healPortrait" :src="form.healPortrait" class="avatar" alt="">
                <input @change="fileFn" type="file"
                       accept="image/png, image/jpeg">
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closePopup">取 消</el-button>
            <el-button type="primary" @click="onSubmitForm">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        data: {
            tableData: {},
            form: {
                id: "",
                userName: "",
                phone: "",
                sex: "",
                age: "",
                roleId: "",
                password: "",
                healPortrait: ""
            },
            dialogFormVisible: false,
            popupTitle: "",
            disabledStatus: false,
            roles: [{}],
            params: {
                page: 1,
                pageSize: 10,
            }
        },
        methods: {
            //点击打开添加框
            onOpenAddPopup() {
                let _this = this;
                _this.dialogFormVisible = true;
                _this.form = {};
                _this.popupTitle = "添加";
                _this.disabledStatus = false;
            },
            //点击打开修改框
            onOpenUpdatePopup(index, row) {
                let _this = this;
                _this.dialogFormVisible = true;
                _this.form = row;
                _this.form.password = 12312312312312312312312312312312;
                _this.popupTitle = "修改";
                _this.disabledStatus = true;
            },
            //删除
            handleDelete(index, row) {
                let _this = this;
                _this.$confirm('您确定删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'error'
                }).then(function () {
                    $.ajax({
                        url: '/vli/vli/back/end/user/delete',//地址
                        dataType: 'json',//数据类型
                        type: 'POST',//类型
                        data: {
                            id: row.id
                        },
                        success: function (res) {
                            if (res.code === 1) {
                                _this.$message.success('删除成功');
                                _this.findUserList();
                            } else {
                                _this.$message.error(res.msg);
                            }
                        }
                    })
                })
            },
            //提交添加和修改的表单
            onSubmitForm() {
                let _this = this;
                if (_this.form.id == null || _this.form.id == '') {
                    $.ajax({
                        url: "/vli/vli/back/end/user/add",
                        dataType: 'json',//数据类型
                        type: 'POST',//类型
                        data: _this.form,//
                        //请求成功
                        success: function (res) {
                            if (res.code == 1) {
                                _this.$message.success(res.msg);
                                _this.form = {};
                                _this.dialogFormVisible = false;
                                _this.findUserList();
                            } else {
                                _this.$message.error(res.msg);
                            }
                        }
                    })
                } else {
                    $.ajax({
                        url: "/vli/vli/back/end/user/update",
                        dataType: 'json',//数据类型
                        type: 'POST',//类型
                        data: _this.form,//
                        //请求成功
                        success: function (res) {
                            if (res.code == 1) {
                                _this.$message.success(res.msg);
                                _this.form = {};
                                _this.dialogFormVisible = false;
                                _this.findUserList();
                            } else {
                                _this.$message.error(res.msg);
                            }
                        }
                    })
                }
            },
            //关闭对话框 重载页面
            closePopup() {
                let _this = this;
                _this.dialogFormVisible = false;
                _this.findUserList();
            },
            //查询用户列表
            findUserList() {
                let _this = this;
                $.ajax({
                    url: "/vli/vli/back/end/user/list",
                    type: "POST",
                    dataType: "json",
                    data: _this.params,
                    success: function (res) {
                        if (res.code === 1) {
                            _this.tableData = res.data;
                        } else {
                            _this.$message.error(res.msg);
                        }
                    }
                })
            },
            //查询权限
            findRoleList() {
                let _this = this;
                $.ajax({
                    url: "/vli/vli/back/end/role/list",
                    type: "POST",
                    dataType: "json",
                    success: function (res) {
                        if (res.code === 1) {
                            _this.roles = res.data;
                        } else {
                            _this.$message.error(res.msg);
                        }
                    }
                })
            },
            //更改条数
            handleSizeChange(val) {
                let _this = this;
                _this.params.pageSize = val;
                _this.findUserList();
            },
            //更改页数
            handleCurrentChange(val) {
                let _this = this;
                _this.params.page = val;
                _this.findUserList();
            },
            //头像上传
            fileFn(file) {
                let _this = this;
                var formData = new FormData();
                var files = file.srcElement.files;
                if (files.length === 0) {
                    alert("请选择文件后再上传！");
                    return;
                }
                for (var i = 0; i < files.length; i++) {
                    formData.append("fileupload", files[i]);
                    $.ajax({
                        url: "https://img.yyhy.me/upload.php?type=Sohu",//Sina,Baidu,Sougou,Sohu,OoXx,SMMS,Vim,Mixtape
                        type: "post",
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        async: true,
                        dataType: "json",
                        success: function (data) {
                            if (data.code === "0") {
                                _this.form.healPortrait = data.msg;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.error(XMLHttpRequest + textStatus + errorThrown);
                        }
                    })
                }
            }
        },
        created: function () {
            let _this = this;
            _this.findUserList();
            _this.findRoleList();
        }
    })
</script>
<style>
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>